#divResultado, #formulario{
    width: 50%;
    margin: 0 auto;
    border: 1px solid red;
    text-align: center;
}

#divResultado{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.cuadro{
    margin: 20px;
}

.boton{
    height: 40px;
    width: 70px;
    background-color: royalblue;
}
